ion-col {
  border-radius: 50px;
  display: flex;
  align-items: center;

  div {
    position: absolute;
    width: 100%;
  } 

  ion-fab-button {
    position: relative;
    transition: transform 0.3s ease;
    // transform: translateX(0);
    ion-icon {
      position: absolute;
    }
    .left {
        left: 0;
        transform: translateX(3px);
    }
    .right {
        right: 0;
        transform: translateX(-3px);
    }
  }

}